.artist-img {
    height: 200px;
    width: 200px;
    margin-right: 20px;
    border-radius: 100px;
}

.artist {
    display: flex;
    flex-direction: row;
}

.artist a {
    color: #2C3E50;
    margin-right: 5px;
    margin-top: 10px;
}

.artist p:last-child {
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}