.container {
    display: flex;
    height: 100vh;
    flex: 1;
    flex-direction: row;
    margin: 12px;
    overflow-y: hidden
}

.main {
    flex: 0.5;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: row;
}

.events-container {
    overflow: auto;
    height: 70vh;
}

.event-banner {
    width: 100%;
}

